{{log this}}
{{#each userPosts as |post|}}
<div class="card">
    <div class="card-body">
        <div class="card-header flex-row justify-space-between">
            <h2>{{title}}</h2>
            <div>
                Posted by {{user.user_name}} on {{format_date created_at}}
            </div>
        </div>
        <p class="card-text">{{content}}</p>
    </div>
    <a href="#" class="btn btn-primary">Add New Post</a>
</div>
{{/each}}