{{#each blogposts as |blogpost| }}
<div class="card-body">
    <div class="card-header flex-row justify-space-between">
        <h2>
            <a href="/singlepost/{{blogpost.id}}">{{blogpost.title}}</a>
        </h2>
        <p class="card-text">{{blogpost.content}}</p>
    </div>
    <div class="card-text">
        <p>Posted by {{user.user_name}} on {{format_date blogpost.created_at}}</p>
    </div>
</div>
{{/each}}