{{#each blogposts as |blogpost| }}
<div class="row mb-4 project">
    <div class="col-md-5">
        <h2>
            <a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>
        </h2>
        <p>{{blogpost.content}}</p>
    </div>
    <div class="col-md-7">
        <p>Posted by {{user.user_name}} on {{format_date blogpost.created_at}}</p>
    </div>
</div>
{{/each}}